<div class="comments">
  {{#each this}}
  <div class="comment">
    <div>
      {{user.username}} on {{format_plural created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </div>
  {{/each}}
</div>