<!--top section-->
  <section class="container is-flex is-flex-direction-column mt-6 mb-3">
    <div class="has-text-centered">
      <h1 class="title has-text-info">Create a listing</h1>
    </div>
  </section>

  <!-- bottom section-->
  <section class="container bottom">
    <div class="container is-flex is-flex-direction-column is-justify-content-center"> 
      <form id="post-form" class="box has-background-light is-full">
        <div class="field">
          <label class="label">Title</label>
          <input class="input" type="text" placeholder="Title">
        </div>

        <div class="field">
          <label class="label">Post</label>
          <textarea class="textarea no-resize" placeholder="Be brief. Be detailed. Post what you need."></textarea>
        </div>

        <div class="is-flex field is-justify-content-space-between">
          <button id="post-cancel-button" class="button is-white">Cancel</button>
          <button id="post-submit-button" class="button is-info">Post</button>
        </div>
      </form>
  </div>

  </section>