<section id="top" class="has-text-centered mt-6 mb-6 is-mobile">
  <h1 class="has-text-info is-size-3">Login</h1>
</section>

<section id="bottom" class="container is-flex is-mobile m-auto p-5">
  <div id="form-area" class="container p-4 is-flex is-flex-direction-to-column is-align-content-center has-background-light">
    <div class="field mb-3">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" id="username-input">
      </div>

      <div class="field mb-3">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" id="username-input">
        </div>
    </div>

    <div class="field mb-2">
      <button class="button is-info" type="submit" id="login-submit-button">Login</button>
    </div>

    <a class="link" href="/signup.html">Sign Up</a>
  </div>

</section>
