<section class="container is-flex is-flex-direction-column mt-6 mb-6">
  <div class="has-text-centered">
    <h1 class="title has-text-info">View Post</h1>
</section>

<section class="content is-flex is-flex-direction-column is-align-items-center mb-6">
  
  {{> cards post}}

  {{> comments post}}
  {{> commentsform}}


</section>