<!--top content section-->
<section class="container top">
  <div class="section">
    <h1 class="title has-text-info">Settings</h1>
  </div>

</section>

<section id="bottom" class="container is-flex is-flex-row is-mobile p-5">
<!--form begin here-->
<form id="form-area" class="container form box p-2 is-flex is-flex-direction-column has-background-light">

  <!--industry/profession-->
  <div class="field mb-3">
    <label class="label">Industry/ Profession</label>
      <div class="control">
        <input class="input" type="text" list="professions" id="profession" name="profession">
        

        <!--this list will be pulled from a table in the database that gets updated as users enter in new values-->
        <datalist id="professions">
          {{#each professions as |profession|}}
            <option value="{{profession.name}}"></option>
          {{/each}}
        </datalist>

        <p class="help">Enter or select a profession that describes your talent. Now is the time to define what you do best!</p>
      </div>
  </div>

  <!--Region-->
  <div class="field mb-3">
    <label class="label">Region</label>
    <input class="input" type="text" id="region">
    <p class="help">This region can be where an artist may be willing to travel for work. For venues, this region can simply be where you are located.</p>
  </div>

  <!--phone number-->
  <div class="field mb-3">
    <label class="label">Contact Number</label>
    <div class="control">
      <input class="input" type="tel" id="contact-number">
      <p class="help">This number is to be displayed on your page if you would like to be contacted by phone. It's completely optional.</p>
    </div>
  </div>
  
  <!--band url-->
  <div class="field mb-3">
    <label class="label">Website URL</label>
    <div class="control">
      <input class="input" type="url" id="website-url" name="website-url">
    </div>
  </div>

  <!--bio-->
  <div class="field mb-3">
    <label class="label">Bio</label>
    <textarea class="textarea resize-none" id="bio"></textarea>
    <p class="help">Talk about yourself! Let the people know what you're all about!</p>
  </div>

  <!--media-->
  <div class="field mb-3">
    <div class="control">
      <label class="label">Media</label>
      <div class="file is-small">
        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Small file…
            </span>
          </span>
        </label>
      </div>
      
      <p class="help">Upload some media you would like show off to your audience! </p>

    </div>
  </div>

  <!--submit button-->
  <div class="field mb-3">
    <div class="control">
      <button class="button is-info" type="submit" id="update-submit-button">Submit</button>
    </div>

  </div>
<!-- end form-->

  </form>
  <script src="/js/update-profile.js"></script>
  
</section>