/*import bulma*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* hero background image*/
.hero-image {
  background-image: url("../images/header-image2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}